if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_Rpt_AgedReceivable]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[sp_Rpt_AgedReceivable]





 

